<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-custom sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/"><span>O</span>nline <span>A</span>uction</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/auctions">Browse</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto align-items-center gap-2" id="auth-nav"></ul>
        </div>
    </div>
</nav>
